# 29회 ADP 복원

# 기계학습 (60점)

## 데이터 설명
- 데이터 출처 : https://www.data.go.kr/data/15094266/fileData.do 후처리
- 데이터 링크 : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/29/p1.csv
- 데이터 설명 : 대구도시공사_빅데이터_영구임대아파트 입주자 퇴거여부 데이터, 고유번호를 가진 계약자와 특정 아파트에 대해 매년 퇴거여부를 기록한 데이터

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.max_columns', None)

In [2]:
#encoding = ['utf-8','cp949','utf-8-sig','euc-kr','latin']
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/29/p1.csv',encoding= 'cp949')
df.head()

,순번,계약구분,재계약횟수,거주개월,아파트 이름,아파트 ID,아파트 평점,호실고유번호,층,평형대,계약자고유번호,계약서고유번호,입주연도,퇴거연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,퇴거여부
0,1,유효,10,222,강남아파트,5,7.0,14520,1,12,15468,15865,2003,NaN,2008,47100,3646000,46,33,남,미혼,3,미퇴거
1,1,유효,10,222,강남아파트,5,7.0,14520,1,12,15468,15865,2003,NaN,2009,56500,4375000,46,34,남,미혼,3,미퇴거
2,1,유효,10,222,강남아파트,5,7.0,14520,1,12,15468,15865,2003,NaN,2010,56500,4375000,46,35,남,미혼,3,미퇴거
3,1,유효,10,222,강남아파트,5,7.0,14520,1,12,15468,15865,2003,NaN,2011,69900,5408000,46,36,남,미혼,3,미퇴거
4,1,유효,10,222,강남아파트,5,7.0,14520,1,12,15468,15865,2003,NaN,2012,69900,5408000,46,37,남,미혼,3,미퇴거

## 1-1  계약자고유번호를 기준으로 거주연도 별 여러개의 데이터가 쌓여 있다. 각 계약자고유번호에 대해 가장 최신의 거주연도 행만 남겨라.

In [3]:
df_sorted = df.sort_values(['계약자고유번호', '거주연도'], ascending = [True, False])
df_v2 = df_sorted.drop_duplicates(['계약자고유번호'], keep ='first')
df_v2

,순번,계약구분,재계약횟수,거주개월,아파트 이름,아파트 ID,아파트 평점,호실고유번호,층,평형대,계약자고유번호,계약서고유번호,입주연도,퇴거연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,퇴거여부
85372,12673,해지,4,88,지산5단지아파트,3,8.0,85369,6,12,1,1,2005,2012.0,2012,77300,5302000,44,35,남,기혼,2,퇴거
85427,12683,해지,7,174,지산5단지아파트,3,8.0,85421,6,15,6,6,2001,2016.0,2016,48600,2144000,32,27,남,미혼,1,퇴거
85587,12702,유효,10,237,지산5단지아파트,3,8.0,85576,7,15,14,14,2001,NaN,2020,81600,5598000,67,66,남,미혼,1,미퇴거
86190,12789,유효,10,227,지산5단지아파트,3,8.0,86179,10,19,27,27,2002,NaN,2020,66600,3116000,61,60,남,기혼,3,미퇴거
86235,12796,유효,10,222,지산5단지아파트,3,8.0,86224,10,15,40,40,2003,NaN,2020,129240,8865600,58,57,여,미혼,2,미퇴거
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,29,유효,1,9,강남아파트,5,7.0,15103,3,12,86866,16959,2020,NaN,2020,42800,2078000,69,68,남,미혼,1,미퇴거
25,4,유효,1,8,강남아파트,5,7.0,14546,1,12,86867,16960,2020,NaN,2020,38000,2078000,66,65,남,미혼,1,미퇴거
56928,8511,유효,6,133,용지아파트,2,7.0,56917,10,12,86868,44775,2010,NaN,2020,43600,2052000,55,54,남,미혼,1,미퇴거
54074,8119,유효,10,222,용지아파트,2,7.0,54063,3,12,86879,36875,2003,NaN,2020,42400,2052000,42,41,여,미혼,1,미퇴거
10361,1506,유효,10,234,비둘기아파트,1,5.0,7782,5,12,86892,62861,2002,NaN,2020,42400,2062000,44,43,남,미혼,2,미퇴거

## 1-2 결측치 처리

In [4]:
df_v2.isna().sum().to_frame().T

,순번,계약구분,재계약횟수,거주개월,아파트 이름,아파트 ID,아파트 평점,호실고유번호,층,평형대,계약자고유번호,계약서고유번호,입주연도,퇴거연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,퇴거여부
0,0,61,0,0,0,0,140,0,0,0,0,0,0,6256,0,0,0,0,0,0,0,0,0

In [5]:
df_v2.dtypes.to_frame().T

,순번,계약구분,재계약횟수,거주개월,아파트 이름,아파트 ID,아파트 평점,호실고유번호,층,평형대,계약자고유번호,계약서고유번호,입주연도,퇴거연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,퇴거여부
0,int64,object,int64,int64,object,int64,float64,int64,int64,int64,int64,int64,int64,float64,int64,int64,int64,int64,int64,object,object,int64,object

In [6]:
df_v3 = df_v2.drop('퇴거연도', axis = 1)
df_v3['계약구분'][(df_v3['계약구분'].isna()) & (df_v3['퇴거여부'] == '퇴거')] = '해지'
df_v3['계약구분'][(df_v3['계약구분'].isna()) & (df_v3['퇴거여부'] == '미퇴거')] = '유효'
df_v3['아파트 평점'].fillna(df_v3['아파트 평점'].mean(), inplace = True)
df_v3.isna().sum().to_frame().T

,순번,계약구분,재계약횟수,거주개월,아파트 이름,아파트 ID,아파트 평점,호실고유번호,층,평형대,계약자고유번호,계약서고유번호,입주연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,퇴거여부
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## 1-3 이상치 처리

In [7]:
df_v3.nunique().to_frame().T

,순번,계약구분,재계약횟수,거주개월,아파트 이름,아파트 ID,아파트 평점,호실고유번호,층,평형대,계약자고유번호,계약서고유번호,입주연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,퇴거여부
0,10348,2,12,298,5,5,5,5865,15,3,10348,10348,27,13,813,562,89,86,2,2,10,2

In [8]:
df_v3.describe()

,순번,재계약횟수,거주개월,아파트 ID,아파트 평점,호실고유번호,층,평형대,계약자고유번호,계약서고유번호,입주연도,거주연도,월세(원),보증금(원),대표나이,나이,거주자 수
count,10348.000000,10348.000000,10348.000000,10348.000000,10348.000000,10348.000000,10348.000000,10348.000000,10348.000000,10348.000000,10348.000000,10348.000000,10348.000000,1.034800e+04,10348.000000,10348.000000,10348.000000
mean,6421.882586,5.874179,137.785466,1.809335,6.366379,42978.243912,7.861422,13.219849,48508.618187,46323.479513,2007.091419,2017.752319,63940.724778,3.807056e+06,65.874758,62.627078,1.688056
std,3729.156387,3.214748,77.532386,0.866503,1.276038,25016.626957,4.284207,2.337744,26845.947221,26011.924446,6.223314,3.639131,40259.500186,3.087969e+06,13.787216,14.179781,0.985399
min,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,12.000000,1.000000,1.000000,1994.000000,2008.000000,31300.000000,1.520000e+06,21.000000,20.000000,1.000000
25%,3175.250000,3.000000,71.000000,1.000000,5.000000,21277.750000,4.000000,12.000000,25058.750000,23263.750000,2002.000000,2016.000000,42300.000000,2.052000e+06,57.000000,54.000000,1.000000
50%,6458.500000,6.000000,137.000000,2.000000,7.000000,42933.000000,8.000000,12.000000,48593.500000,48036.500000,2004.000000,2020.000000,44700.000000,2.304000e+06,65.000000,63.000000,1.000000
75%,9636.250000,9.000000,222.000000,2.000000,7.000000,64586.000000,12.000000,12.000000,74050.250000,69061.250000,2012.000000,2020.000000,66700.000000,3.943000e+06,75.000000,73.000000,2.000000
max,12883.000000,12.000000,323.000000,5.000000,10.000000,86891.000000,15.000000,19.000000,86892.000000,86904.000000,2020.000000,2020.000000,311080.000000,2.078400e+07,121.000000,120.000000,10.000000

In [9]:
df_v3.describe(include = 'object')

         계약구분  아파트 이름     성별   결혼여부   퇴거여부
count   10348   10348  10348  10348  10348
unique      2       5      2      2      2
top        유효  비둘기아파트      여     미혼    미퇴거
freq     6256    4419   5898   8968   6256

In [10]:
df_copy = df_v3[(df_v3['대표나이'] < 100) & (df_v3['나이'] < 100)]

In [11]:
df_copy

,순번,계약구분,재계약횟수,거주개월,아파트 이름,아파트 ID,아파트 평점,호실고유번호,층,평형대,계약자고유번호,계약서고유번호,입주연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,퇴거여부
85372,12673,해지,4,88,지산5단지아파트,3,8.0,85369,6,12,1,1,2005,2012,77300,5302000,44,35,남,기혼,2,퇴거
85427,12683,해지,7,174,지산5단지아파트,3,8.0,85421,6,15,6,6,2001,2016,48600,2144000,32,27,남,미혼,1,퇴거
85587,12702,유효,10,237,지산5단지아파트,3,8.0,85576,7,15,14,14,2001,2020,81600,5598000,67,66,남,미혼,1,미퇴거
86190,12789,유효,10,227,지산5단지아파트,3,8.0,86179,10,19,27,27,2002,2020,66600,3116000,61,60,남,기혼,3,미퇴거
86235,12796,유효,10,222,지산5단지아파트,3,8.0,86224,10,15,40,40,2003,2020,129240,8865600,58,57,여,미혼,2,미퇴거
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,29,유효,1,9,강남아파트,5,7.0,15103,3,12,86866,16959,2020,2020,42800,2078000,69,68,남,미혼,1,미퇴거
25,4,유효,1,8,강남아파트,5,7.0,14546,1,12,86867,16960,2020,2020,38000,2078000,66,65,남,미혼,1,미퇴거
56928,8511,유효,6,133,용지아파트,2,7.0,56917,10,12,86868,44775,2010,2020,43600,2052000,55,54,남,미혼,1,미퇴거
54074,8119,유효,10,222,용지아파트,2,7.0,54063,3,12,86879,36875,2003,2020,42400,2052000,42,41,여,미혼,1,미퇴거
10361,1506,유효,10,234,비둘기아파트,1,5.0,7782,5,12,86892,62861,2002,2020,42400,2062000,44,43,남,미혼,2,미퇴거

## 2-1 재계약 횟수의 중앙값을 기준으로 중앙값보다 크거나 같으면 '높음', 작으면 '낮음' 으로 재계약 횟수 이분 변수를 구성하시오.

In [12]:
df_copy['재계약횟수구분'] = df_copy.재계약횟수.apply(lambda x : '높음' if x > df_copy.재계약횟수.median() else '낮음')
df_copy

,순번,계약구분,재계약횟수,거주개월,아파트 이름,아파트 ID,아파트 평점,호실고유번호,층,평형대,계약자고유번호,계약서고유번호,입주연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,퇴거여부,재계약횟수구분
85372,12673,해지,4,88,지산5단지아파트,3,8.0,85369,6,12,1,1,2005,2012,77300,5302000,44,35,남,기혼,2,퇴거,낮음
85427,12683,해지,7,174,지산5단지아파트,3,8.0,85421,6,15,6,6,2001,2016,48600,2144000,32,27,남,미혼,1,퇴거,높음
85587,12702,유효,10,237,지산5단지아파트,3,8.0,85576,7,15,14,14,2001,2020,81600,5598000,67,66,남,미혼,1,미퇴거,높음
86190,12789,유효,10,227,지산5단지아파트,3,8.0,86179,10,19,27,27,2002,2020,66600,3116000,61,60,남,기혼,3,미퇴거,높음
86235,12796,유효,10,222,지산5단지아파트,3,8.0,86224,10,15,40,40,2003,2020,129240,8865600,58,57,여,미혼,2,미퇴거,높음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,29,유효,1,9,강남아파트,5,7.0,15103,3,12,86866,16959,2020,2020,42800,2078000,69,68,남,미혼,1,미퇴거,낮음
25,4,유효,1,8,강남아파트,5,7.0,14546,1,12,86867,16960,2020,2020,38000,2078000,66,65,남,미혼,1,미퇴거,낮음
56928,8511,유효,6,133,용지아파트,2,7.0,56917,10,12,86868,44775,2010,2020,43600,2052000,55,54,남,미혼,1,미퇴거,낮음
54074,8119,유효,10,222,용지아파트,2,7.0,54063,3,12,86879,36875,2003,2020,42400,2052000,42,41,여,미혼,1,미퇴거,높음
10361,1506,유효,10,234,비둘기아파트,1,5.0,7782,5,12,86892,62861,2002,2020,42400,2062000,44,43,남,미혼,2,미퇴거,높음

## 2-2 차원축소의 필요성을 논하고, 필요에 따라 차원을 축소하고 불필요하다면 그 근거를 논하시오.

In [13]:
print('총 칼럼은 수는 23개이고 이중 중복되는 의미를 가진 칼럼이 존재한다.')
print('계약구분과 퇴거여부는 같은 의미를 가지고 있는 칼럼으로 두 칼럼중 하나의 칼럼을 제거해주도록 한다.')
print('아파트이름과 아파트ID또한 아파트를 구분하는 칼럼으로 역시 중복되는 의미를 가지고 있어 하나의 칼럼은 제거해준다.')
print('순번, 호실고유번호, 계약자고유번호, 계약서고유번호 들은 분석에 유의미한 정보를 담고 있지 않으므로 제거해준다.')

총 칼럼은 수는 23개이고 이중 중복되는 의미를 가진 칼럼이 존재한다.
계약구분과 퇴거여부는 같은 의미를 가지고 있는 칼럼으로 두 칼럼중 하나의 칼럼을 제거해주도록 한다.
아파트이름과 아파트ID또한 아파트를 구분하는 칼럼으로 역시 중복되는 의미를 가지고 있어 하나의 칼럼은 제거해준다.
순번, 호실고유번호, 계약자고유번호, 계약서고유번호 들은 분석에 유의미한 정보를 담고 있지 않으므로 제거해준다.

In [14]:
df_copy_v2 = df_copy.drop(['아파트 이름', '순번', '호실고유번호', '계약자고유번호', '계약서고유번호', '퇴거여부'], axis = 1)
df_copy_v2

,계약구분,재계약횟수,거주개월,아파트 ID,아파트 평점,층,평형대,입주연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,재계약횟수구분
85372,해지,4,88,3,8.0,6,12,2005,2012,77300,5302000,44,35,남,기혼,2,낮음
85427,해지,7,174,3,8.0,6,15,2001,2016,48600,2144000,32,27,남,미혼,1,높음
85587,유효,10,237,3,8.0,7,15,2001,2020,81600,5598000,67,66,남,미혼,1,높음
86190,유효,10,227,3,8.0,10,19,2002,2020,66600,3116000,61,60,남,기혼,3,높음
86235,유효,10,222,3,8.0,10,15,2003,2020,129240,8865600,58,57,여,미혼,2,높음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,유효,1,9,5,7.0,3,12,2020,2020,42800,2078000,69,68,남,미혼,1,낮음
25,유효,1,8,5,7.0,1,12,2020,2020,38000,2078000,66,65,남,미혼,1,낮음
56928,유효,6,133,2,7.0,10,12,2010,2020,43600,2052000,55,54,남,미혼,1,낮음
54074,유효,10,222,2,7.0,3,12,2003,2020,42400,2052000,42,41,여,미혼,1,높음
10361,유효,10,234,1,5.0,5,12,2002,2020,42400,2062000,44,43,남,미혼,2,높음

## 3-1 재계약 횟수 이분변수를 기준으로 세그먼트를 구분하고 각 세그먼트의 특징을 분석하시오.

In [15]:
df_high = df_copy_v2[df_copy['재계약횟수구분'] == '높음']
df_low = df_copy_v2[df_copy['재계약횟수구분'] == '낮음']

In [16]:
df_high.describe(include = 'all')

,계약구분,재계약횟수,거주개월,아파트 ID,아파트 평점,층,평형대,입주연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,재계약횟수구분
count,4575,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4.575000e+03,4575.000000,4575.000000,4575,4575,4575.000000,4575
unique,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,1
top,유효,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,여,미혼,NaN,높음
freq,3520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2805,3864,NaN,4575
mean,NaN,9.077596,212.313880,1.864044,6.441702,7.876721,13.360000,2002.822077,2019.428197,80005.753005,5.064801e+06,68.258579,66.686776,NaN,NaN,1.597814,NaN
std,NaN,1.182833,29.265821,0.886353,1.281504,4.235949,2.429778,2.078434,1.364181,52383.079499,4.018294e+06,12.350382,12.382973,NaN,NaN,0.849648,NaN
min,NaN,7.000000,141.000000,1.000000,5.000000,1.000000,12.000000,1994.000000,2011.000000,34700.000000,1.777000e+06,21.000000,20.000000,NaN,NaN,1.000000,NaN
25%,NaN,8.000000,193.000000,1.000000,5.000000,4.000000,12.000000,2002.000000,2020.000000,42400.000000,2.062000e+06,61.000000,59.000000,NaN,NaN,1.000000,NaN
50%,NaN,9.000000,222.000000,2.000000,7.000000,8.000000,12.000000,2003.000000,2020.000000,52700.000000,3.116000e+06,68.000000,66.000000,NaN,NaN,1.000000,NaN
75%,NaN,10.000000,234.000000,2.000000,7.000000,11.000000,15.000000,2003.000000,2020.000000,113020.000000,8.072000e+06,77.000000,76.000000,NaN,NaN,2.000000,NaN
max,NaN,12.000000,323.000000,5.000000,10.000000,15.000000,19.000000,2009.000000,2020.000000,311080.000000,2.078400e+07,99.000000,97.000000,NaN,NaN,8.000000,NaN

In [17]:
df_low.describe(include = 'all')

,계약구분,재계약횟수,거주개월,아파트 ID,아파트 평점,층,평형대,입주연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,재계약횟수구분
count,5731,5731.000000,5731.000000,5731.000000,5731.000000,5731.000000,5731.00000,5731.000000,5731.000000,5731.000000,5.731000e+03,5731.000000,5731.000000,5731,5731,5731.000000,5731
unique,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,1
top,해지,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,여,미혼,NaN,낮음
freq,3001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3066,5065,NaN,5731
mean,NaN,3.323853,78.403594,1.767580,6.308459,7.847845,13.11272,2010.526435,2016.448438,51158.024778,2.806385e+06,63.684523,59.132961,NaN,NaN,1.760600,NaN
std,NaN,1.670759,46.742194,0.849434,1.269936,4.320844,2.25848,6.317746,4.264908,18829.771099,1.412774e+06,14.162776,14.350369,NaN,NaN,1.077093,NaN
min,NaN,1.000000,1.000000,1.000000,5.000000,1.000000,12.00000,1994.000000,2008.000000,31300.000000,1.520000e+06,21.000000,20.000000,NaN,NaN,1.000000,NaN
25%,NaN,2.000000,40.000000,1.000000,5.000000,4.000000,12.00000,2004.000000,2013.000000,41200.000000,2.052000e+06,54.000000,50.000000,NaN,NaN,1.000000,NaN
50%,NaN,3.000000,78.000000,2.000000,7.000000,8.000000,12.00000,2011.000000,2019.000000,43600.000000,2.062000e+06,63.000000,58.000000,NaN,NaN,1.000000,NaN
75%,NaN,5.000000,114.000000,2.000000,7.000000,12.000000,12.00000,2016.000000,2020.000000,55950.000000,3.144000e+06,73.000000,69.000000,NaN,NaN,2.000000,NaN
max,NaN,6.000000,322.000000,5.000000,10.000000,15.000000,19.00000,2020.000000,2020.000000,222200.000000,1.421040e+07,99.000000,98.000000,NaN,NaN,10.000000,NaN

In [18]:
print('재계약 횟수가 많은 segment가 낮은 segment에 비해 거주개월이 길고 월세, 보증금이 높았으며 연령대가 높다.')

재계약 횟수가 많은 segment가 낮은 segment에 비해 거주개월이 길고 월세, 보증금이 높았으며 연령대가 높다.

## 3-2. 재계약횟수 변수를 종속변수로 하는 회귀 분석을 두 가지 이상의 방법론을 통해 수행하고 최종 모델을 결정하시오. 재계약횟수 이분변수를 종속변수로 하는 분류 분석을 두가지 이상의 방법론을 통해 수행하고 최종 모델을 결정하시오.

In [19]:
df_copy_v2

,계약구분,재계약횟수,거주개월,아파트 ID,아파트 평점,층,평형대,입주연도,거주연도,월세(원),보증금(원),대표나이,나이,성별,결혼여부,거주자 수,재계약횟수구분
85372,해지,4,88,3,8.0,6,12,2005,2012,77300,5302000,44,35,남,기혼,2,낮음
85427,해지,7,174,3,8.0,6,15,2001,2016,48600,2144000,32,27,남,미혼,1,높음
85587,유효,10,237,3,8.0,7,15,2001,2020,81600,5598000,67,66,남,미혼,1,높음
86190,유효,10,227,3,8.0,10,19,2002,2020,66600,3116000,61,60,남,기혼,3,높음
86235,유효,10,222,3,8.0,10,15,2003,2020,129240,8865600,58,57,여,미혼,2,높음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,유효,1,9,5,7.0,3,12,2020,2020,42800,2078000,69,68,남,미혼,1,낮음
25,유효,1,8,5,7.0,1,12,2020,2020,38000,2078000,66,65,남,미혼,1,낮음
56928,유효,6,133,2,7.0,10,12,2010,2020,43600,2052000,55,54,남,미혼,1,낮음
54074,유효,10,222,2,7.0,3,12,2003,2020,42400,2052000,42,41,여,미혼,1,높음
10361,유효,10,234,1,5.0,5,12,2002,2020,42400,2062000,44,43,남,미혼,2,높음

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder, MinMaxScaler
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, f1_score, recall_score, precision_score, accuracy_score
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.compose import ColumnTransformer

num_col1 = ['거주개월', '평형대', '월세(원)', '보증금(원)', '대표나이', '나이', '거주자 수']
num_col2 = ['아파트 ID', '아파트 평점', '층', '입주연도', '거주연도']
cat_col = ['계약구분', '성별', '결혼여부']

tf = ColumnTransformer([('num1', StandardScaler(), num_col1), ('num2', MinMaxScaler(), num_col2), ('cat', OneHotEncoder(), cat_col)])
LE = LabelEncoder()

x1 = df_copy_v2.drop(['재계약횟수', '재계약횟수구분'], axis = 1)
y1 = df_copy_v2[['재계약횟수']]
x2 = df_copy_v2.drop(['재계약횟수', '재계약횟수구분'], axis = 1)
y2 = df_copy_v2[['재계약횟수구분']]

x1_trans = tf.fit_transform(x1)
x1_train, x1_test, y1_train, y1_test = train_test_split(x1_trans, y1, test_size = 0.3, random_state = 42)

x2_trans = tf.fit_transform(x2)
y2_trans = LE.fit_transform(y2)
x2_train, x2_test, y2_train, y2_test = train_test_split(x2_trans, y2_trans, test_size = 0.3, random_state = 42, stratify = y2_trans)

model1 = RandomForestRegressor()
model2 = XGBRegressor()
model3 = RandomForestClassifier()
model4 = KNeighborsClassifier()

model1.fit(x1_train, y1_train)
model2.fit(x1_train, y1_train)
model3.fit(x2_train, y2_train)
model4.fit(x2_train, y2_train)

y1_pred1 = model1.predict(x1_test)
y1_pred2 = model2.predict(x1_test)
y2_pred3 = model3.predict(x2_test)
y2_pred4 = model4.predict(x2_test)

print(f'RFR rmse :{mean_squared_error(y1_test, y1_pred1)}')
print(f'XGB rmse :{mean_squared_error(y1_test, y1_pred2)}')
print(f'RFC accuracy : {accuracy_score(y2_test, y2_pred3)}')
print(f'KNN accuracy : {accuracy_score(y2_test, y2_pred4)}')
print('성능이 제일좋은 RandomForestClassifier 선택')

RFR rmse :0.5263499798134972
XGB rmse :0.3780577169541309
RFC accuracy : 0.9780077619663649
KNN accuracy : 0.9489003880983182
성능이 제일좋은 RandomForestClassifier 선택

## 3-3 최종 채택한 모델에서 각각 유의하게 작용하는 변수를 확인 하고 설명하시오

In [67]:
transformer_feature_names = tf.transformers_[0][2] + tf.transformers_[1][2] + list(tf.named_transformers_['cat'].get_feature_names_out(input_features=cat_col))
transformer_feature_names
importances = model3.feature_importances_
for i,j in zip(transformer_feature_names, importances):
    print(i,j)
    
print('feature_importances_로 확인한 변수중요도는 각 변수별로 0~1사이의 값을 가지고 합이 1이다.')
print('각 수치는 각 특성이 분류 결정에 기여하는 정도를 나타낸다.')
print('보통 중요도가 높은 특성일수록 해당 특성이 모델에서 더 중요하게 고려되었음을 의미한다.')
print('따라서 중요도가 높은 특성은 모델의 예측에 더 큰 영향을 미치는 것으로 해석할 수 있습니다.')
print('재계약횟수에 가장 큰 영향을 미치는 변수3가지는 순서대로 거주개월, 입주연도, 거주연도이다.')

거주개월 0.4678950593532267
평형대 0.0028846917229229173
월세(원) 0.03540450352959207
보증금(원) 0.04711154879166977
대표나이 0.016533385046202175
나이 0.021432949237491127
거주자 수 0.007384218792912432
아파트 ID 0.0050819724065920766
아파트 평점 0.004356308894561264
층 0.008535999063294107
입주연도 0.23277123623732934
거주연도 0.09335741822139232
계약구분_유효 0.02294668465329758
계약구분_해지 0.027590958186069065
성별_남 0.0020742230929335624
성별_여 0.001876053984162645
결혼여부_기혼 0.0014219559447657573
결혼여부_미혼 0.0013408328415851272
feature_importances_로 확인한 변수중요도는 각 변수별로 0~1사이의 값을 가지고 합이 1이다.
각 수치는 각 특성이 분류 결정에 기여하는 정도를 나타낸다.
보통 중요도가 높은 특성일수록 해당 특성이 모델에서 더 중요하게 고려되었음을 의미한다.
따라서 중요도가 높은 특성은 모델의 예측에 더 큰 영향을 미치는 것으로 해석할 수 있습니다.
재계약횟수에 가장 큰 영향을 미치는 변수3가지는 순서대로 거주개월, 입주연도, 거주연도이다.

## 3-4 해당 데이터 분석결과로 얻을 수 있는 점 제시

## 데이터 설명
- 데이터 출처 : https://www.kaggle.com/datasets/pschale/mlb-pitch-data-20152018 데이터를 후처리
- 데이터 링크 : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/29/p2_.csv
- 데이터 설명 : 

A 야구구단의 시합 결과중 일부를 나타낸다.    
각 행은 하나의 경기를 의미(game_id)하며 9회차(= 9이닝) 동안 1번타자, 2번타자의 출루 정보를 의미한다.     
각 컬럼에 대한 설명은 아래 이미지와 같으며, value값의 index는 이미지의 '수치 의미' 열을 통해 확인 할 수 있다.

<img src="https://github.com/Datamanim/datarepo/blob/main/adp/29/p1_img.png?raw=true" width="500" height="600">

## 4-1 각 회차별로 1번 타자의 출루 (1,2,3루타와 사사구(볼넷, 몸에맞는공))가 있는 경우에 대해 득점이 발생 했는지 확인하고자 한다. 이를 위한 전처리를 수행하라. (단, 첫 번째 혹은 두 번째 타자가 홈런을 친 경우 해당 회차 데이터는 제외한다.)     

조건1 : 득점여부를 범주형 종속변수로 한다. (1점이상 득점 :1, 무득점 :0)     
조건2 : 각 회차 2번 타자의 데이터는 원핫 인코딩한다.    
조건3 : 학습에 적절하지 않은 데이터는 제외한다.

제가 이해하고 의도한 29회 4-1번 문제에 대한 가이드 입니다.
(4-1) 전처리 가이드
1. 첫타자와 둘째타자의 각 이닝별 출루현황, 해당 이닝의 득점수를 3columns의 데이터로 변환
2. 정수형 값이 아닌 데이터 행를 제거
3. 홈런 (4)값을 가지는 행을 제거
4. 이닝별 점수를 binary로 변환 (득점 있으면 1 ,없으면 0 )
5. 둘째 타자 출루 결과를 one-hot encoding

In [48]:
base_data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/29/p2_.csv')
base_data

,game_id,a1_1,a1_2,a2_1,a2_2,a3_1,a3_2,a4_1,a4_2,a5_1,a5_2,a6_1,a6_2,a7_1,a7_2,a8_1,a8_2,a9_1,a9_2,b1,b2,b3,b4,b5,b6,b7,b8,b9
0,201900016,5,5,5,5,5,5,5,5,5,5,7,1,5,5,1,1,1,5,0,0,0,0,0,0,0,4,2
1,201900023,6,4,5,5,2,5,1,1,6,5,4,1,1,5,5,6,2,7,3,0,0,1,0,1,3,1,0
2,201900103,5,6,5,5,1,9,5,4,6,1,4,2,6,1,5,5,5,6,0,0,1,1,4,1,2,0,1
3,201900112,5,7,6,1,5,5,1,5,1,5,5,5,6,7,6,9,5,5,0,3,0,0,0,0,1,0,0
4,201900131,5,1,2,5,2,5,7,2,6,6,5,1,5,5,6,5,6,6,0,2,4,1,2,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,201902346,7,5,7,4,1,9,5,7,7,7,5,7,5,5,7,6,6,1,0,1,2,0,0,0,0,0,1
196,201902365,2,5,1,1,7,5,5,7,5,4,6,5,5,6,2,7,1,9,0,0,0,0,1,0,0,0,2
197,201902373,,7,5,6,5,9,7,5,1,7,1,5,2,5,7,7,1,5,0,0,0,0,0,1,0,0,0
198,201902392,6,5,5,1,1,5,6,5,5,5,5,7,2,1,7,1,4,7,0,0,2,1,0,0,0,2,1
199,201902394,2,4,7,4,5,5,7,5,6,7,2,9,7,5,5,6,4,5,2,1,1,0,0,4,0,0,1

In [250]:
base_df = pd.DataFrame(columns = ['1번타자행동', '2번타자행동', '득점여부'])
for i in range(1,10):
    concat_df = base_data[['a%d_1'%i, 'a%d_2'%i, 'b%d'%i]]
    concat_df.rename(columns = {'a%d_1'%i:'1번타자행동', 'a%d_2'%i:'2번타자행동', 'b%d'%i:'득점여부'}, inplace =True)
    base_df = pd.concat([base_df,concat_df])

base_df_copy = base_df[base_df['1번타자행동'] != " "]
base_df_copy = base_df_copy[base_df_copy['1번타자행동'] != '"']
base_df_copy = base_df_copy[base_df_copy['1번타자행동'] != ' :']
base_df_copy = base_df_copy[base_df_copy['1번타자행동'] != '&']
base_df_copy = base_df_copy.astype(str)
base_df_copy = base_df_copy[(base_df_copy['1번타자행동'] !='4') & (base_df_copy['2번타자행동'] !='4')]
base_df_copy['득점여부'] = base_df_copy.득점여부.apply(lambda x : 0 if x == "0" else 1)
base_df_onehot = pd.get_dummies(base_df_copy[['2번타자행동']])
base_df_final = pd.concat([base_df_copy[['1번타자행동']], base_df_onehot, base_df_copy[['득점여부']]], axis = 1)
base_df_final

,1번타자행동,2번타자행동_1,2번타자행동_2,2번타자행동_3,2번타자행동_5,2번타자행동_6,2번타자행동_7,2번타자행동_8,2번타자행동_9,득점여부
0,5,0,0,0,1,0,0,0,0,0
2,5,0,0,0,0,1,0,0,0,0
3,5,0,0,0,0,0,1,0,0,0
4,5,1,0,0,0,0,0,0,0,0
5,6,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
193,1,0,0,0,0,0,0,0,1,1
194,7,0,0,0,1,0,0,0,0,0
195,6,1,0,0,0,0,0,0,0,1
196,1,0,0,0,0,0,0,0,1,1
197,1,0,0,0,1,0,0,0,0,0

## 4-2 4-1 데이터에 대해 Logistic Regression을 적용하고 2번타자의 희생번트 여부에 대한 회귀 계수 검정을 하라

In [272]:
import statsmodels.api as sm

base_df_final['1번타자행동'] = base_df_final['1번타자행동'].astype(int)

x = base_df_final.drop('득점여부', axis = 1)
y = base_df_final[['득점여부']]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42, stratify = y)

logit_model = sm.Logit(y_train, sm.add_constant(x_train))

result = logit_model.fit()

print(result.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.519174
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                   득점여부   No. Observations:                 1124
Model:                          Logit   Df Residuals:                     1115
Method:                           MLE   Df Model:                            8
Date:                Sat, 16 Mar 2024   Pseudo R-squ.:                  0.1694
Time:                        00:16:56   Log-Likelihood:                -583.55
converged:                      False   LL-Null:                       -702.57
Covariance Type:            nonrobust   LLR p-value:                 5.917e-47
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.1466   7.55e+06   5.49e-07      1.000   -1.48e+07    1.48e+07
1번타자행동        -0.2732      0.035     -7.708      0.000      -0.343      -0.204
2번타자행동_1      -2.7665   7.55e+06  -3.66e-07      1.000   -1.48e+07    1.48e+07
2번타자행동_2      -2.0006   7.55e+06  -2.65e-07      1.000   -1.48e+07    1.48e+07
2번타자행동_3      26.1691    7.6e+06   3.44e-06      1.000   -1.49e+07    1.49e+07
2번타자행동_5      -4.1647   7.55e+06  -5.52e-07      1.000   -1.48e+07    1.48e+07
2번타자행동_6      -3.0788   7.55e+06  -4.08e-07      1.000   -1.48e+07    1.48e+07
2번타자행동_7      -4.7306   7.55e+06  -6.27e-07      1.000   -1.48e+07    1.48e+07
2번타자행동_8      -2.4853   7.55e+06  -3.29e-07      1.000   -1.48e+07    1.48e+07
2번타자행동_9      -2.7960   7.55e+06   -3.7e-07      1.000   -1.48e+07    1.48e+07
==============================================================================

C:\Users\dlwns\anaconda3\lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [273]:
print('2번타자 희생번트 여부의 계수는 -2.796이고 p-value는 1.0으로 귀무가설을 기각하지 못한다.')
print('즉, 분석결과 2번타자 희생번트 여부는 유의하지 않다.')

2번타자 희생번트 여부의 계수는 -2.796이고 p-value는 1.0으로 귀무가설을 기각하지 못한다.
즉, 분석결과 2번타자 희생번트 여부는 유의하지 않다.

## 4-3 SMOTE (random_state =0 지정)를 적용하여 data imbalance를 해결하라

In [274]:
from imblearn.over_sampling import SMOTE

# SMOTE 객체 생성
smote = SMOTE(random_state=42)

# 소수 클래스 데이터에 적용
x_resampled, y_resampled = smote.fit_resample(x, y)
x_resampled

,1번타자행동,2번타자행동_1,2번타자행동_2,2번타자행동_3,2번타자행동_5,2번타자행동_6,2번타자행동_7,2번타자행동_8,2번타자행동_9
0,5,0,0,0,1,0,0,0,0
1,5,0,0,0,0,1,0,0,0
2,5,0,0,0,0,0,1,0,0
3,5,1,0,0,0,0,0,0,0
4,6,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
2187,5,0,0,0,0,1,0,0,0
2188,6,0,0,0,0,0,1,0,0
2189,5,0,0,0,0,1,0,0,0
2190,1,0,0,0,1,0,0,0,0
2191,5,1,0,0,0,0,0,0,0

## 4-4 4-3 구성 데이터에 Logistic Regression을 적용하고 결과를 분석하라

In [287]:
x_train, x_test, y_train, y_test = train_test_split(x_resampled, y_resampled, test_size = 0.3, random_state = 50, stratify = y_resampled)

logit_model = sm.Logit(y_train, sm.add_constant(x_train))

result = logit_model.fit()

print(result.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.576818
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                   득점여부   No. Observations:                 1534
Model:                          Logit   Df Residuals:                     1524
Method:                           MLE   Df Model:                            9
Date:                Sat, 16 Mar 2024   Pseudo R-squ.:                  0.1678
Time:                        00:20:05   Log-Likelihood:                -884.84
converged:                      False   LL-Null:                       -1063.3
Covariance Type:            nonrobust   LLR p-value:                 2.107e-71
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         20.7464   4760.028      0.004      0.997   -9308.737    9350.230
1번타자행동        -0.2513      0.029     -8.700      0.000      -0.308      -0.195
2번타자행동_1     -18.7716   4760.028     -0.004      0.997   -9348.255    9310.712
2번타자행동_2     -18.0988   4760.028     -0.004      0.997   -9347.582    9311.385
2번타자행동_3       0.8406   8563.894   9.82e-05      1.000   -1.68e+04    1.68e+04
2번타자행동_5     -20.0765   4760.028     -0.004      0.997   -9349.560    9309.407
2번타자행동_6     -19.0287   4760.028     -0.004      0.997   -9348.512    9310.455
2번타자행동_7     -20.6949   4760.028     -0.004      0.997   -9350.178    9308.789
2번타자행동_8     -18.8642   4760.028     -0.004      0.997   -9348.348    9310.619
2번타자행동_9     -18.5638   4760.028     -0.004      0.997   -9348.047    9310.920
==============================================================================

C:\Users\dlwns\anaconda3\lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [285]:
print('데이터 불균형은 해소되었으나 기존 모델과 유의미한 차이는 보이지않는다.')

데이터 불균형은 해소되었으나 기존 모델과 유의미한 차이는 보이지않는다.

## 4-5 4-3 구성 데이터에 XGB 적용하고 결과를 분석하라

In [292]:
from xgboost import XGBClassifier

model = XGBClassifier()
model.fit(x_train, y_train)

# 각 피처의 중요도 확인
feature_importance = model.feature_importances_
print("Feature Importance:")
for i, importance in enumerate(feature_importance):
    print(f"Feature {i+1}: Importance = {importance}")

Feature Importance:
Feature 1: Importance = 0.12418991327285767
Feature 2: Importance = 0.021406112238764763
Feature 3: Importance = 0.04437847435474396
Feature 4: Importance = 0.2353578507900238
Feature 5: Importance = 0.30155473947525024
Feature 6: Importance = 0.02329566515982151
Feature 7: Importance = 0.21724580228328705
Feature 8: Importance = 0.004834563937038183
Feature 9: Importance = 0.027736876159906387

In [293]:
eval_set = [(x_train, y_train), (x_test, y_test)]
model.fit(x_train, y_train, eval_metric=["logloss"], eval_set=eval_set, verbose=False)

# 모델의 성능 지표 요약 확인
results = model.evals_result()
print("Validation Log Loss:")
for i, log_loss_values in enumerate(results["validation_0"]["logloss"]):
    print(f"Iteration {i+1}: {log_loss_values:.4f}")

Validation Log Loss:
Iteration 1: 0.6244
Iteration 2: 0.5864
Iteration 3: 0.5645
Iteration 4: 0.5515
Iteration 5: 0.5438
Iteration 6: 0.5394
Iteration 7: 0.5363
Iteration 8: 0.5345
Iteration 9: 0.5333
Iteration 10: 0.5320
Iteration 11: 0.5311
Iteration 12: 0.5308
Iteration 13: 0.5303
Iteration 14: 0.5300
Iteration 15: 0.5299
Iteration 16: 0.5296
Iteration 17: 0.5294
Iteration 18: 0.5293
Iteration 19: 0.5291
Iteration 20: 0.5287
Iteration 21: 0.5286
Iteration 22: 0.5285
Iteration 23: 0.5283
Iteration 24: 0.5282
Iteration 25: 0.5281
Iteration 26: 0.5281
Iteration 27: 0.5280
Iteration 28: 0.5279
Iteration 29: 0.5278
Iteration 30: 0.5276
Iteration 31: 0.5275
Iteration 32: 0.5275
Iteration 33: 0.5275
Iteration 34: 0.5274
Iteration 35: 0.5273
Iteration 36: 0.5273
Iteration 37: 0.5272
Iteration 38: 0.5272
Iteration 39: 0.5271
Iteration 40: 0.5270
Iteration 41: 0.5270
Iteration 42: 0.5269
Iteration 43: 0.5268
Iteration 44: 0.5268
Iteration 45: 0.5268
Iteration 46: 0.5267
Iteration 47: 0.5267
Iteration 48: 0.5267
Iteration 49: 0.5266
Iteration 50: 0.5265
Iteration 51: 0.5265
Iteration 52: 0.5264
Iteration 53: 0.5264
Iteration 54: 0.5263
Iteration 55: 0.5262
Iteration 56: 0.5262
Iteration 57: 0.5262
Iteration 58: 0.5262
Iteration 59: 0.5261
Iteration 60: 0.5261
Iteration 61: 0.5261
Iteration 62: 0.5260
Iteration 63: 0.5260
Iteration 64: 0.5260
Iteration 65: 0.5259
Iteration 66: 0.5259
Iteration 67: 0.5259
Iteration 68: 0.5258
Iteration 69: 0.5258
Iteration 70: 0.5258
Iteration 71: 0.5258
Iteration 72: 0.5258
Iteration 73: 0.5257
Iteration 74: 0.5257
Iteration 75: 0.5257
Iteration 76: 0.5257
Iteration 77: 0.5256
Iteration 78: 0.5256
Iteration 79: 0.5256
Iteration 80: 0.5256
Iteration 81: 0.5256
Iteration 82: 0.5255
Iteration 83: 0.5255
Iteration 84: 0.5255
Iteration 85: 0.5255
Iteration 86: 0.5254
Iteration 87: 0.5254
Iteration 88: 0.5254
Iteration 89: 0.5254
Iteration 90: 0.5253
Iteration 91: 0.5253
Iteration 92: 0.5253
Iteration 93: 0.5253
Iteration 94: 0.5253
Iteration 95: 0.5253
Iteration 96: 0.5252
Iteration 97: 0.5252
Iteration 98: 0.5252
Iteration 99: 0.5252
Iteration 100: 0.5252

# 통계 (40점)

## 5. 제품 A의 불량률은 0.03이다. 25개의 제품을 뽑았을 때 3개가 불량일 확률을 구하시오. (소수점 다섯 째 자리에서 반올림)

In [23]:
prob_5 = (25*24*23/3*2*1)*(0.03**3)*(0.97**22)
prob_5

0.1270953745593284

## 6. C사 생산 제품 1000개 중 양품이 600개, D사 생산 제품 500개 중 양품이 200개 이다. 두 회사의 양품률에 차이가 있는지 검정하여라.

In [26]:
from statsmodels.stats.proportion import proportions_ztest

# C사와 D사의 양품 및 불량품 개수
C_good, C_total = 600, 1000
D_good, D_total = 200, 500

# 각 회사의 양품률 계산
p1 = C_good / C_total
p2 = D_good / D_total

# 각 회사의 샘플 크기
n1 = C_total
n2 = D_total

# proportions_ztest 함수로 Z 점수와 p-value 계산
Z, p_value = proportions_ztest([C_good, D_good], [C_total, D_total])

# 유의수준 설정 (보통 0.05 사용)
alpha = 0.05

# 가설 검정 결과 출력
if p_value < alpha:
    print("귀무가설을 기각합니다. 두 회사의 양품률에는 통계적으로 유의한 차이가 있습니다.")
else:
    print("귀무가설을 기각하지 못합니다. 두 회사의 양품률에는 통계적으로 유의한 차이가 없습니다.")

# Z 점수와 p-value 출력
print("Z 점수:", Z)
print("p-value:", p_value)

귀무가설을 기각합니다. 두 회사의 양품률에는 통계적으로 유의한 차이가 있습니다.
Z 점수: 7.319250547113997
p-value: 2.493596474326038e-13

## 7. 아래 데이터는 a,b,c,d 네 차종 각각 5회 실험 시 범퍼 파손 정도 이다. (단, 각 모집단은 정규분포를 따르며 모집단 간 등분산성을 가정한다.)

dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/29/p7.csv

### 7-1. 각 차종 별 범퍼 파손의 정도에 차이가 유의한지 검정하라.

In [27]:
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/29/p7.csv')
data

   name      ratio
0     A  10.993428
1     A   9.723471
2     A  11.295377
3     A  13.046060
4     A   9.531693
5     B  14.297589
6     B  19.737638
7     B  17.302304
8     B  13.591577
9     B  16.627680
10    C   7.304873
11    C   7.301405
12    C   8.362943
13    C   5.130080
14    C   5.412623
15    D  10.594281
16    D   9.467922
17    D  12.785618
18    D   9.729940
19    D   8.469241

In [30]:
from scipy.stats import f_oneway


# ANOVA 검정 실행
statistic, p_value = f_oneway(*[group["ratio"] for name, group in data.groupby("name")])

# 유의수준 설정 (보통 0.05 사용)
alpha = 0.05

# p-value를 기준으로 귀무 가설 기각 여부 결정
if p_value < alpha:
    print("귀무가설을 기각합니다. 차종별로 범퍼 파손정도에 통계적으로 유의한 차이가 있습니다.")
else:
    print("귀무가설을 기각하지 못합니다. 차종별로 범퍼 파손정도에 통계적으로 유의한 차이가 없습니다.")

# 검정 통계량과 p-value 출력
print("검정 통계량:", statistic)
print("p-value:", p_value)

귀무가설을 기각합니다. 차종별로 범퍼 파손정도에 통계적으로 유의한 차이가 있습니다.
검정 통계량: 24.97695307518529
p-value: 2.817477955621638e-06

### 7-2 귀무가설을 채택한다면 그 의미를 해석하고, 귀무가설을 기각하였다면 사후분석을 시행하라.

In [32]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd


# Tukey HSD 분석 실행
tukey_results = pairwise_tukeyhsd(data['ratio'], data['name'])

# 결과 출력
print(tukey_results)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     A      B   5.3934  0.001   2.1785  8.6083   True
     A      C  -4.2156 0.0085  -7.4305 -1.0007   True
     A      D  -0.7086 0.9207  -3.9235  2.5063  False
     B      C   -9.609    0.0 -12.8239 -6.3941   True
     B      D   -6.102 0.0003  -9.3169 -2.8871   True
     C      D    3.507 0.0302   0.2921  6.7219   True
-----------------------------------------------------

## 8. L1,L2,L3 세 개의 생산라인에서 각각 13%, 37%, 50%를 생산하며 각각 1.1% , 2.1%, 3.3% 불량률을 갖는다. 불량 제품이 나왔을 때 L1 라인에서 생산되었을 확률을 구하시오. (소수점 둘째자리에서 반올림)

In [33]:
prob_defect = 0.13*0.011+0.37*0.021+0.5*0.033
prob_8 = 0.13*0.011/prob_defect
prob_8

0.055642023346303505

created by datamanim [web-link](https://www.datamanim.com)

#### 끝. 10페이지